{#-
OpenAPI Endpoint Template

Template for individual REST endpoint documentation.
Extends OpenAPI base template with comprehensive endpoint details.
-#}

{% extends "base/openapi_base.md.jinja2" %}

{% from 'macros/safe_macros.md.jinja2' import safe_section %}

{% block content %}
{#- Endpoint description -#}
{% call safe_section("description") %}
  {% include 'openapi/partials/endpoint_description.md.jinja2' %}
{% endcall %}

{#- Request parameters -#}
{% call safe_section("parameters") %}
  {% include 'openapi/partials/parameters_table.md.jinja2' %}
{% endcall %}

{#- Request body -#}
{% call safe_section("request_body") %}
  {% include 'openapi/partials/request_body.md.jinja2' %}
{% endcall %}

{#- Response schemas -#}
{% call safe_section("responses") %}
  {% include 'openapi/partials/response_schemas.md.jinja2' %}
{% endcall %}

{#- Examples -#}
{% call safe_section("examples") %}
  {% include 'openapi/partials/examples_section.md.jinja2' %}
{% endcall %}
{% endblock %}
