{#
  Tag List Component
  
  Usage:
    {% include 'partials/tag-list.html' with {'tags': page.tags} %}
  
  Variables:
    - tags: List of tag strings
    - small: Boolean (default: false) - use smaller size
    - linkable: Boolean (default: true) - make tags clickable
#}

{% set small = small | default(false) %}
{% set linkable = linkable | default(true) %}

<div class="tags {% if small %}tags-small{% endif %}">
    {% for tag in tags %}
        {% if linkable %}
        {# Locale-aware tag link: if prefix strategy and non-default or default_in_subdir, prefix with language #}
        {% set _i18n = site.config.get('i18n', {}) %}
        {% set _lang = current_lang() %}
        {% set _default = _i18n.get('default_language', 'en') if _i18n else 'en' %}
        {% set _in_subdir = _i18n.get('default_in_subdir', False) if _i18n else False %}
        {% set _prefix = '' %}
        {% if _i18n and _i18n.get('strategy') == 'prefix' and _lang and (_in_subdir or _lang != _default) %}
        {% set _prefix = '/' ~ _lang %}
        {% endif %}
        <a href="{{ _prefix }}/tags/{{ tag | lower | replace(' ', '-') }}/" class="tag">
            {{ tag }}
        </a>
        {% else %}
        <span class="tag">{{ tag }}</span>
        {% endif %}
    {% endfor %}
</div>

